a.skip {
  background: $color-action;
  color: $color-light;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
  font-size: $font-size-small;
  box-shadow: 0 0 .5rem 2px rgba($color-dark, .35);

  &:focus {
    position: absolute;
    z-index: $level-top;
  }
}
