.lead {
  margin: 0 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

// Landing Pages & 404 page

.page-parent,
.error404 {

  h1 {
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 1;
  }

  .lead {
    font-size: 1.375rem;
    line-height: 1.454545455;
    font-weight: 300;
  }

  .main-container article {
    max-width: 43.4375rem;
  }
}

.error404 {
  &__content {
    margin: 0 auto;
  }

  &__headline {

  }

  &__error-code {
    margin-top: $content-gutter;
    display: block;
    font-size: 1rem;
    color: $color-gray-600;
  }
}