#wrapper {
    position: relative;
    background: #fff;
}

&:not(.home) {
    #wrapper {
        @media screen and (min-width: #{$screen-lg-max}) {
            padding-top: 69px;
        }
        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            padding-top: 105px;
        }

        @media screen and (max-width: #{$screen-lg-min}) {
            padding-top: 49px;
        }
    }
}

#main-content .sidebar-content-area.creamy-border-bottom {
    border-bottom: 1px solid #F5F1F1;
}

.archive-filters {

}
