.box-index {
    .box-content {
        padding: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    p {
        font-size: .9em;
    }

    &:focus {
        text-decoration: none;
    }
}
