.box {
    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        font-weight: bold;
        text-transform: uppercase;
    }
}

a.box {
    &:hover {
        .link-item::before {
            color: $green;
        }
    }
}

.box-filled {
    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        color: #fff;
    }

    .link-item-light {
        color: #fff;
    }
}
