:focus {
  outline: 3px solid $color-blue;
}

/* initial styling after what input has executed but before any interaction */
[data-whatinput="initial"] :focus {
  outline-color: $color-green;
}

/* mouse */
[data-whatinput="mouse"] :focus {
  outline: none;
}

/* keyboard */
[data-whatinput="keyboard"] :focus {
  outline-color: $color-orange;
}

/* touch */
[data-whatinput="touch"] :focus {
  outline-color: $color-blue;
}

/* IE11 gives the body element focus on page load */
body:focus {
  outline: none;
}
