html {
  font-family: $base-font-family;
  color: $color-dark;
}

hr {
  display: block;
  margin: $content-gutter 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray;
}


h1 {
  margin: 0 0 $content-gutter;
  font-size: 2.375rem;
  line-height: 1.052631579; /* 40/38 */
}

h2 {
  margin: 0 0 0;
  font-size: 1.375rem;
  font-weight: 500;
}

h3 {
  margin: 0 0 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0 0 0;
  font-size: 1.125rem;
}

h5 {
  margin: 0 0 0;
  font-size: 1rem;
}

h6 {
  margin: 0 0 0;
  text-transform: uppercase;
  font-size: .75rem;
}

p {
  margin: .5rem 0 1.5rem;
  line-height: 1.5;
}
