html {
  font-family: $base-font-family;
  color: $color-dark;
}

hr {
  display: block;
  margin: $content-gutter 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray;
}


h1 {
  margin: 0 0 $content-gutter;
  font-size: 2.375rem;
  line-height: 1.0526; /* 40/38 */
}

h2 {
  margin: 0 0 0;
  font-size: 1.375rem;
  font-weight: 500;
}

h3 {
  margin: 0 0 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0 0 0;
  font-size: 1.125rem;
}

h5 {
  margin: 0 0 0;
  font-size: 1rem;
}

h6 {
  margin: 0 0 0;
  text-transform: uppercase;
  font-size: .75rem;
}

p {
  margin: .5rem 0 1.5rem;
  line-height: 1.5;
}

pre {
  background: $color-gray-100;
  max-width: 100%;
  overflow: auto;
  border: 1px solid $color-gray-200;
  margin: .5rem 0 1.5rem;
  line-height: 1.5;
}

article ul:not([class*=block-grid-]),
article ol:not([class*=block-grid-]) {
  margin: .5rem 0 1.5rem;
  list-style: none;
  line-height: 1.5;
  padding-left: 2rem;

  > *,
  li > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    position: relative;
  }
}

article ul:not([class*=block-grid-]) {
  li {

    &::before {
      position: absolute;
      left: -16px;
      top: 8px;
      content: '';
      width: 7px;
      height: 7px;
      background-color: $color-orange;
      border: 1px solid $color-orange;
    }

    li {
      &::before {
        background-color: transparent;
      }

      li {
        &::before {
          background-color: $color-orange;
          border-radius: 100%;
        }
      }
    }
  }
}


article ol:not([class*=block-grid-]) {
  counter-reset: ordered-list-counter;
  padding-left: 1rem;

  > li {

    &::before {
      content: counters(ordered-list-counter, ".") ". ";
      counter-increment: ordered-list-counter;
      font-style: italic;
    }
  }
}

blockquote {
  margin: 0;
  padding: 0;
  top: 0;
  font-style: italic;
}

blockquote:not([class*=o-pull-quote]) {
  margin-left: .8125rem;
  padding-left: .8125rem;
  border-left: .375rem solid $color-blue;
}

.o-pull-quote {
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "”";
    color: $color-blue;
    font-size: 5rem;
  }
}
