.wp-caption {
  background: $color-gray-100;
  font-size: $font-size-smaller;
  margin-bottom: $content-gutter;
  max-width: 100%;
}

.alignleft:not(.wp-caption),
.alignright:not(.wp-caption) {

  @media #{$screen-below-md} {
    margin-bottom: $content-gutter;
    width: 100%;
    height: auto;
  }

  @media #{$screen-md-up} {
    margin-top: 6px;
  }
}


.alignleft {
  @media #{$screen-md-up} {
    float: left;
    margin-right: $content-gutter;
    margin-bottom: auto;
  }
}

.alignright {
  @media #{$screen-md-up} {
    float: right;
    margin-left: $content-gutter;
  }
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wp-caption-text {
  margin: 0;
  padding: .5rem;

  em {
    font-size: $font-size-tiny;
    display: block;
    color: rgba($color-dark, .75);
  }
}
