.truncate {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    overflow: auto;
    width: auto;
    background-color: $color-light;
    text-decoration: underline;
    }
  }

.truncate.link-item {
  left: 0;
  padding-right: 0;

  &::before {
    margin-left: 0;
  }
}
