.modularity-mod-inlaylist {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $color-gray-200;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: background .2s linear;

    &:hover,
    &:focus {
      background: rgba($color-gray-100, .5);
      color: $color-dark;
    }

    .link-item {
      display: block;
      text-decoration: underline;
      font-size: $font-size-medium;
    }

    .date {
      display: block;
      margin-top: 6px;
      color: $color-gray-600;
      text-decoration: none;
      font-size: $font-size-smaller;
    }
  }
}


.home {

  .modularity-mod-inlaylist {

    &.grid-md-6 {
      ul {
        column-count: 2;
        column-gap: 20px;
      }
    }

    .box {
      box-shadow: none;
      border-radius: 0;
    }

    .box-title {
      background: $color-gray-200;
      font-size: $font-size-small;
    }

    ul {
      margin-top: .625rem;
    }

    li {
      margin-top: .25rem;
      border: 0;
    }

    a {
      text-decoration: none;
      color: $color-dark;
      padding: .25rem 1rem;

      .link-item {
        padding-left: 1.25rem;
        text-decoration: none;
        background: url(../images/link-arrow.svg);
        background-position: 0 3px;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        font-size: $font-size-small;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
