.modularity-mod-posts {

  // Lists
  li {
    padding: .5rem 1rem;
  }

  a {
    text-decoration: none;
  }

  .link-item {
    display: block;
    text-decoration: underline;
    font-size: $font-size-small;
  }

  .date {
    font-size: $font-size-smaller;
    display: block;
    color: $color-gray-600;
  }

  // Expandable List
  // TODO

  // Post items
  .box-content {
    margin-bottom: $content-gutter;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: $color-light;
  }
}
