.modularity-mod-latest {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $color-gray-200;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: background .2s linear;

    &:hover,
    &:focus {
      background: rgba($color-gray-100, .5);
      color: $color-dark;
    }

    .link-item {
      display: block;
      text-decoration: underline;
      font-size: $font-size-medium;
    }

    .date {
      display: block;
      margin-top: 6px;
      color: $color-gray-600;
      text-decoration: none;
      font-size: $font-size-smaller;
    }
  }
}
