// TODO We need a better solution for this.
.home {
  .modularity-mod-inlaylist,
  .modularity-mod-contacts {
    .box {
      border-radius: 0;
      background: $color-light;
      box-shadow: none;

      &__headline {
        background: #e5e5e5;
        font-size: $font-size-small;
        border-bottom: 0;
      }

      &__list-item {
        padding: .5rem 1rem;
        border: 0;
      }

      &__link {
        padding-left: 1.25rem;
        background: url(../images/link-arrow.svg);
        background-position: 0 3px;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        color: $color-dark;
        text-decoration: none;
        font-size: $font-size-small;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .modularity-mod-contacts {
    [itemprop=telephone],
    [itemprop=email] {
      background-size: 1.5rem 1.5rem;
      padding-left: 2.25rem;
      padding-top: .375rem;
      padding-bottom: .375rem;
    }
  }

  // TODO We need a better solution for this. Temporary fix.
  .grid-md-6.modularity-mod-inlaylist {

    @media #{$screen-sm-up} {

      .box__list {
        display: flex;

        flex-wrap: wrap;
        &-item {
          box-sizing: border-box;
          flex: 1 0 50%;
        }
      }
    }
  }
}
