.modularity-mod-contact,
.modularity-mod-contacts {
  font-size: $font-size-medium;

  ul {
    margin: 0 0 .5rem;
    padding: 0;
    list-style: none;

    a,
    span {
      display: inline-block;
      word-wrap: break-word;
    }
  }

  .card-title {
    margin-bottom: .5rem;
  }

  h3 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  [itemprop=telephone] {
    background-image: url(../images/icons/phone.svg);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: 0 50%;
    margin-bottom: .5rem;
    padding-left: 1.25rem;
  }

  a[itemprop=email] {
    background-image: url(../images/icons/email-sign.svg);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: 0 50%;
    padding-left: 1.25rem;
  }

  .small:not(:last-child) {
    margin: 0 0 .5rem;
  }
}
