.link-item {
    &::before {
        @include hbg-icon($icon-link-arrow);
        color: rgba(0,0,0,.4);
    }

    &:hover {
        &::before {
            color: $green;
        }
    }
}

.link-item-light {
    &::before {
        color: rgba(#fff,.5);
    }
}
