
&:not(.home) .hero {
    max-height: 80vh;
    .modularity-mod-slider {
        max-height: inherit;
        .slider {
            max-height: inherit;
        }
    }
}

.hero {
    position: relative;
    overflow: hidden;
    background: #eee;
    background-size: cover;
    height: auto;
    min-height: 350px;
    max-height: 100vh;
    height: auto;

    .has-text-block .slider-image:before,
    .has-text-block .slider-video:before {
        @include cover();
        content: "";
        background: rgba(0, 0, 0, 0.25);
        z-index: 10;

        /* Mobile */
        @media screen and #{$screen-below-sm} {
            background: rgba(0, 0, 0, 0.4);
        }
    }

    .modularity-mod-slider {
        padding-top: 56.25%;
        position: relative;
        .slider {
            @include cover();
        }
    }

    .slider {
        background-color: #fff;
        max-height: 100vh;

        .player a {
            z-index: 10 !important;
            text-shadow: 0 0 9px rgba(0,0,0,.3);
        }

        [class*=slider-nav-] {
            transition: background 200ms;
            background: rgba(#000,.15);
            border-radius: 0;
            border: 2px solid #fff;
            text-indent: -500px;
            overflow: hidden;
            width: 50px;
            height: 50px;
            padding: 0;
            z-index: 20;

            @media screen and #{$screen-below-sm} {
                border: none;
                width: 20px;
                font-size: 1.5em;
                line-height: 1.5em;
                background: none;
                text-shadow: 0 0 1px rgba(#000,.3);
            }

            i {
                display: none !important;
            }

            &:after {
                @include cover();
                text-indent: 0;
                line-height: 48px !important;
                transition: margin 200ms;
            }

            &:hover {
                background-color: transparent;
            }

        }

        .slider-nav-previous {
            margin-left: 15px;

            @media screen and #{$screen-below-sm} {
                margin-left: 5px;
            }

            &:after {
                margin-right: 3px;
                @include hbg-icon($icon-chevron-left);
            }
        }

        .slider-nav-next {
            margin-right: 15px;

            @media screen and #{$screen-below-sm} {
                margin-right: 5px;
            }

            &:after {
                margin-left: 3px;
                @include hbg-icon($icon-chevron-right);
            }
        }

        .slider-nav-previous:hover {
            &:after {
                margin-right: 7px;
            }
        }

        .slider-nav-next:hover {
            &:after {
                margin-left: 7px;
            }
        }
    }

    .search {
        @include center();
        width: 30%;
        min-width: 300px;
        z-index: 20;

        label {
            display: inline-block;
            font-weight: 300;
            letter-spacing: 1px;
        }

        input[type="search"] {
            border: none;
        }
    }

    .text-block {
        @include center();
        font-family: $dunkers-font-family;
        text-transform: uppercase;
        text-align: center;
        right: auto;
        bottom: auto;
        letter-spacing: .01em;
        font-size: 2em;
        color: #fff;
        width: 90%;
        z-index: 30;
        background-color: transparent !important;

        /* Text shadows */
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.28);

        /* Larger font on first-row */
        &::first-line {
            font-size: 1.5em;
            font-weight: 600;
        }

        /* Mobile */
        @media screen and #{$screen-below-sm} {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .stripe {
        display: none !important;
    }

    .scroll-down-please {
        @include center(true, false);
        z-index: 99;
        bottom: 20px;
        font-size: 1em;
        padding: 10px 20px;
        line-height: 1;
        color: rgba(#fff, .8);
        text-transform: uppercase;
        font-family: $dunkers-font-family;
        white-space: nowrap;
    }

    .scroll-down-please-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: .5em;
        position: relative;
        margin-left: .4em;
        color: rgba(#fff, .8);
        font-size: 1em;
        z-index: 9999;
        animation: 1500ms scroll-down-please infinite ease-in-out;

        &::after {
            @include hbg-icon($icon-arrow-double-down);
            @include center();
        }
    }
}

@keyframes scroll-down-please {
    0% {
        top: -4px;
    }

    50% {
        top: 1px;
    }

    100% {
        top: -4px;
    }
}







.slider-next .slider-in {
    animation: slider-next-in 1s ease-in-out;
    z-index: 9;
}

.slider-next .slider-out {
    display: block !important;
    z-index: 8;
    animation: slider-next-out 1s ease-in-out forwards;
}

.slider-previous .slider-in {
    animation: slider-previous-in 1s ease-in-out;
    z-index: 9;
}

.slider-previous .slider-out {
    display: block !important;
    z-index: 8;
    animation: slider-previous-out 1s ease-in-out forwards;
}

@keyframes slider-next-in {
    from {
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slider-next-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes slider-previous-in {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}

@keyframes slider-previous-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

