.search-popular {
  padding: 1rem 0;
  border-bottom: 1px solid $color-gray-200;
  font-size: $font-size-smaller;
  background: $color-light;
  text-align: center;

  &__title {
    display: inline;
    font-weight: 700;
  }

  &__list {
    display: inline;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    display: inline;

    &:not(:last-child)::after {
      content: ", ";
      speak: none;
    }
  }
}
