.c-search-form {

  @media #{$screen-below-sm} {
    padding: 1rem 0;
  }

  @media #{$screen-sm-up} {
    padding: 1rem 0;
  }

  &__group {
    position: relative;
  }

  &__label {
    color: $color-light;
  }

  &__field {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: $color-light;
    border-radius: 3px;
    background-color: $color-light;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    font-size: $font-size-base;

    @media #{$screen-below-sm} {
      padding: .75rem .5rem .75rem 2rem;
      background-position: 10px 16px;
      background-size: 16px 16px;
    }

    @media #{$screen-sm-up} {
      padding: 1.1875rem 1rem 1.125rem 2.75rem;
      padding-right: calc(6rem + 6px); // Padding for button, size of button + default padding + right position value of button
      background-position: 16px 20px;
      background-size: 20px 20px;
    }
  }

  &__button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: .75rem 1rem;
    min-width: 5rem;
    border: 0;
    border-radius: 3px;
    background: $color-gray-300;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background .3s ease-in-out;

    &:hover,
    &:focus {
      background: $color-gray-400;
    }

    &--primary {
      font-weight: 400;
      color: $color-light;
      background: $color-action;

      &:hover,
      &:focus {
        background: darken($color-action, 4);
      }
    }

    @media #{$screen-below-sm} {
      display: none; // Hide button on smaller screens. Make assumtion that the user has an on screen keyboard.
    }
  }
}

// Search in header
.header__search {
  background: darken($color-action, 6);

  .c-search-form {
    &__field {

      @media #{$screen-sm-up} {
        &:-ms-input-placeholder {
          padding-left: 2.75rem;
        }
      }

      &:focus {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
      }
    }
  }

  @media #{$screen-md-up} {
    display: none; // Hide the Header Search
  }
}

// On Search Page
.main__search {
  background: $color-gray-200;
  margin-bottom: $content-gutter;
  border-bottom: 1px solid $color-gray-300;

  .c-search-form__field {
    border-color: $color-gray-300;


  }
}

// On Frontpage
.hero__search {
  margin-right: 0;
  margin-left: 0;
  padding: 0 1.25rem;
  max-width: 36.875rem;
  flex-grow: 1;

  .c-search-form {

    &__group {
      box-shadow: 0 0 1.5rem 0 rgba($color-dark, .2);
    }
  }
}

