.site-header {
  flex: none;
  background: $color-gray-100;

  @media #{$screen-md-up} {
    background: $color-light;
  }


  &__logotype {
    margin: 1rem 0;

    .logotype {
      display: inline-block;
      text-decoration: none;

      svg {
        vertical-align: top;
      }
    }

    span {
      display: block;
      color: $color-dark;
      font-style: italic;
      font-size: $font-size-small;
    }

    @media #{$screen-xs} {
      display: flex;

      justify-content: center;
    }
  }
}
