.box {
  margin-bottom: $content-gutter;
  border-radius: 2px;
  background: $color-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);

  &-title {
    padding: 1rem;
    border-bottom: 1px solid $color-gray-200;
  }

  &--inline {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
}

.box-news {
  outline: 20px solid red;
}

.box-content {
    flex: 1 1 auto;
}

.box-content img {
    max-width: 100%;
    height: auto;
}

.box-image {
    width: 100%;
    flex: 0 0 auto;
}
