.main-footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $color-gray-300;
  background: $color-gray-100;
  font-size: $font-size-smaller;
  flex: none;


  [class*="grid-"] {
    margin-bottom: 1rem;
  }

  // Show shadow when HTML background is visisble
  @media #{$screen-md-up} {
    border-bottom: 1px solid $color-gray-300;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  }

  @media print {
    padding-top: 1rem;
    padding-bottom: 0;
    border-top: 1px solid $color-gray-300;
    background: transparent;
 
    // TODO We need a better solution for this
    .sidebar-footer-area > div:not(:nth-child(2)):not(:nth-child(3)) {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2.4615;
  }

  a {
    color: $color-dark;
  }
}

.footer-title {
  font-size: $font-size-small;
}

.sidebar-footer-area > div:not(:last-child) {

  @media #{$screen-lg-up} {
    border-right: 1px solid $color-gray-300;
  }

  @media print {
    border-right: none;
  }
}

// WordPress menu
.menu-social-links-container {
  .menu-item {
    a {
      position: relative;
      padding-left: 1.75rem;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        background-position: 50% 50%;
        background-size: .75rem .75rem;
        background-repeat: no-repeat;
        content: "";
        transform: translateY(-50%);
        transition: background .3s ease-in-out;
      }
    }

    // Facebook
    a[href*="facebook.com"] {
      &::before {
        background-color: $color-facebook;
        background-image: url(../images/icons/facebook.svg);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: darken($color-facebook, 25%);
        }
      }
    }

    // Twitter
    a[href*="twitter.com"] {
      &::before {
        background-color: $color-twitter;
        background-image: url(../images/icons/twitter.svg);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: darken($color-twitter, 25%);
        }
      }
    }

    // Youtube
    a[href*="youtube.com"] {
      &::before {
        background-color: $color-youtube;
        background-image: url(../images/icons/youtube.svg);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: darken($color-youtube, 25%);
        }
      }
    }

    // Instagram
    a[href*="instagram.com"] {
      &::before {
        background-color: $color-instagram;
        background-image: url(../images/icons/instagram.svg);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: darken($color-instagram, 25%);
        }
      }
    }
  }
}



.site-footer__contact {

  h3 {
    margin: .5rem 0;
    font-size: $font-size-smaller;
    font-weight: 500;
  }

  p {
    margin: 1px 0 1.5rem;
  }

  .contact-details {
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 20px;
    }
  }

  .phone {
    padding-left: 1.25rem;
    background-image: url(../images/icons/phone.svg);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: 0 50%;
  }

  .email {
    padding-left: 1.25rem;
    background-image: url(../images/icons/email-sign.svg);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: 0 50%;
  }
}
