.c-page-footer,
.c-post-footer {
  border-top: 1px solid $color-gray-200;
  //overflow: hidden; "Temporary" fix for overflow problem in IE11
}

.c-article-timestamps {
  padding: 1rem 0;
  font-size: $font-size-smaller;

  @media #{$screen-below-lg} {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
