a.box {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background: $color-gray-100;
    transition: background-color .3s ease-in-out, color .2s ease-in-out;
  }
}

.box {
  margin-bottom: $content-gutter;

  &-title {
    padding: 1rem;
    border-bottom: 1px solid $color-gray-200;
  }

  &--inline {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
}

.box__news-column {
  margin-bottom: $content-gutter * 2;
}

.box--panel-news-card {
  display: flex;
  flex-direction: column;

  .box__image-container {
    border: 4px solid red;
    max-width: 275px;
  }
}

.box-content {
  flex: 1 1 auto;
}

.box-content img {
  max-width: 100%;
  height: auto;
}

.box-image {
  width: 100%;

  flex: 0 0 auto;
}

// BEM

.box {
  text-decoration: none;

  &__footer {
    border-top: 1px solid $color-gray-200;
    padding: 1rem;
  }

  &__headline {
    width: 100%;
    border-bottom: 1px solid $color-gray-200;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--centered {
      text-align: center;
      border-bottom: none;
      font-weight: 400;
      padding-top: 0;
    }

    &--inline {
      margin-top: $content-gutter;
      margin-bottom: .5rem;
      font-size: $font-size-small;
    }
  }

  &__title {
    font-size: $font-size-large;
  }

  &__image {
    width: 100%;
    flex: 0 0 auto;
  }

  &__date {
    display: block;
    color: $color-gray-700;
    text-decoration: none;
    font-size: $font-size-smaller;
  }

  &__label {
    font-size: $font-size-smaller;
    color: $color-dark;
  }

  &__label + &__date {
    display: inline;
    color: $color-dark;
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-wrap: break-word;

    p:first-of-type {
      margin-top: 0;
    }

    p:only-of-type {
      margin: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__content + &__list {
    border-top: 1px solid $color-gray-200;
  }

  &__excerpt {
    font-size: $font-size-small;
    color: $color-dark;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
  }

  &__list-item {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: $font-size-small;

    p:last-of-type {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-200;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1rem;

    &--arrow {
      padding-left: 1.25rem;
      background: url(../images/link-arrow.svg);
      background-position: 0 3px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__link--arrow + &__list-description {
    padding-left: 1.25rem;
  }

  &__list-description {
    font-size: $font-size-smaller;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__list-meta {
    margin: 0;
  }

  //Index
  &--index {
    min-width: 100%;
    border-top: .1875rem solid $color-action;
    color: $color-dark;
    text-decoration: none;
    font-size: $font-size-small;
    transition: background .2s linear, border-color .1s ease-in-out;

    &:hover,
    &:focus {
      border-color: $color-dark;
      background: $color-gray-100;
    }
  }
}

.box--panel {
  border-radius: 3px;
  background: $color-light;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);

  &-clean {
    box-shadow: none;
    border-radius: 0;
  }

  @media print {
    border-radius: 0;
    box-shadow: none;
  }

  .box__headline {
    padding-right: 1rem;
    padding-left: 1rem;
    background: $color-gray-100;
  }


  .box__content {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .box__list-item {
    padding-right: 1rem;
    padding-left: .625rem;
  }
}


.box__news-list {
  .box__title {
    font-size: $font-size-medium;
    font-weight: 400;
  }
}

.box__date-event {
  box-shadow: 0 1px 2px rgba($color-dark, .2);
  display: block;
  max-width: 48px;
  text-align: center;

  &-month {
    display: block;
    background: $color-red;
    color: $color-light;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }

  &-day {
    display: block;
    background: $color-light;
    color: $color-dark;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -2px;
    font-weight: 700;
  }
}