.c-accessibility-menu {
  margin-bottom: $content-gutter;
  font-size: $font-size-smaller;

  a {
    display: inline-block;
    padding: .5rem 1rem .5rem 1.75rem;
    border-radius: 10em;
    background: $color-gray-200;
    color: $color-dark;
    text-decoration: none;
    transition: background .3s ease-in-out;
    background-image: url(../images/icons/listen.svg);
    background-repeat: no-repeat;
    background-position: .5rem 50%;

    &:hover,
    &:focus {
      background-color: $color-gray-400;
    }
  }
}

// Target Readspeaker button and override default value
.readspeaker-player-element.rsbtn {
  margin-bottom: $content-gutter;
}
