.box {
  margin-bottom: $content-gutter;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background: $color-light;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    border-bottom: 1px solid $color-gray-200;

    &:last-child {
      border-bottom: none;
    }

    a {
      padding: 1rem;
      display: block;
    }
  }
}


.box-title {
  border-bottom: 1px solid $color-gray-200;
  padding: 1rem;
}
