.pagination {
  display: flex;
  flex-direction: row;
  margin: 0 0 $content-gutter;
  padding: 1rem 0;
  padding: 0;
  list-style: none;

  justify-content: center;

  @media #{$screen-below-md} {
    justify-content: space-between;
  }

  li {
    margin: 0 .25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .page,
  .next,
  .previous {
    display: flex;
    padding: .25rem .675rem;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid $color-action;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .2s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  .page {

    &:hover,
    &:focus {
      background-color: darken($color-action, 8);
      color: $color-light;
    }
  }


  .next,
  .previous {
    background-color: $color-action;
    background-size: 7px 12px;
    background-repeat: no-repeat;
    color: $color-light;

    &:hover,
    &:focus {
      background-color: darken($color-action, 8);
      color: $color-light;
    }
  }

  .previous {
    background-image: url(../images/icons/chevron-left.svg);
    background-position: calc(50% - 1px) 50%;

    @media #{$screen-below-md} {
      padding-left: 2rem;
      background-position: 10px 50%;
    }

    &__label {
      display: none;

      @media #{$screen-below-md} {
        display: block;
      }
    }
  }

  .next {
    background-image: url(../images/icons/chevron-right.svg);
    background-position: calc(50% + 1px) 50%;

    @media #{$screen-below-md} {
      padding-right: 2rem;
      background-position: calc(100% - 10px) 50%;
    }

    &__label {
      display: none;

      @media #{$screen-below-md} {
        display: block;
      }
    }
  }

  @media #{$screen-below-md} {

    .page {
      display: none;
    }
  }

  .current {
    border-color: $color-gray-400;
    background-color: $color-gray-100;
    color: $color-gray-600;

    &:hover,
    &:focus {
      background-color: $color-gray-100;
      color: $color-gray-600;
    }
  }
}
