.hero-image {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 11rem;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: $color-light-blue;

  @media #{$screen-sm-up} {
    height: 14rem;
  }

  @media #{$screen-md-up} {
    height: 18rem;
  }
}
