.c-page-footer {
  border-top: 1px solid $color-gray-200;
}

.c-article-timestamps {
  padding: 1rem 0;
  font-size: $font-size-smaller;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
