.c-breadcrumbs {
  margin-bottom: $content-gutter * 2;
  padding: 1rem 0;
  border-bottom: 1px solid $color-gray-200;
  font-size: $font-size-smaller;

  @media print {
    padding: 1rem 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  &__title {
    display: inline;
    font-weight: 700;
  }

  &__list {
    display: inline;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    display: inline;

    &:not(:last-child)::after {
      color: $color-gray-300;
      content: " / ";
      speak: none;

      @media print {
        color: $color-dark;
      }
    }
  }

  &__link {
    color: $color-dark;

    @media print {
      text-decoration: none;
    }
  }

  &__current {
    color: $color-gray-600;

    @media print {
      color: $color-dark;
    }
  }
}
