html:not(.no-flexbox) {
  .menu-help {
    float: none;

    @media #{$screen-xs} {
      display: flex;
      justify-content: center;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      @media #{$screen-md-up} {
        justify-content: flex-end;
      }
    }

    li {
      float: none;
    }
  }
}


.menu-help {
  font-size: $font-size-tiny;
  float: right;
  padding: .5rem 0;

  @media #{$screen-md-up} {
    padding: 1rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  .menu-item {
    margin: 0 .5rem;

    &--services a::before {
      background-image: url(../images/icons/services.svg);
    }

    &--contact a::before {
      background-image: url(../images/icons/contact.svg);
    }

    &--maps a::before {
      background-image: url(../images/icons/map.svg);
    }

    &--easy-read a::before {
      background-image: url(../images/icons/easy-read.svg);
    }

    // NOTE This selector doesn't follow BEM
    &-translate a::before {
      background-image: url(../images/icons/translate.svg);
    }
  }

  a {
    text-decoration: none;
    color: darken($color-action, 25);
    position: relative;
    text-align: center;
    display: block;

    &::before {
      position: relative;
      content: "";
      display: block;
      border: 1px solid rgba($color-action, .15);
      border-radius: 100%;
      width: 44px;
      height: 44px;
      margin: 0 auto;
      box-sizing: border-box;

      background-color: $color-light;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .current-page-item,
  .current-menu-item {
    color: $color-dark;

    a {

      &::before {
        background-color: $color-gray-200;
      }
    }
  }
}
