html:not(.no-flexbox) {
  .primary-navigation {

    &__container {
      display: flex;

      > ul {
        &:last-child {
          border-bottom: 1px solid $color-gray-200;
        }
      }
    }

    ul {
      display: flex;
      flex-grow: 2;

      @media #{$screen-below-md} {
        flex-direction: column;
      }

      @media #{$screen-md-up} {
        flex-direction: row;
      }
    }

    li {
      float: none;
      flex-grow: 1;
    }

    .sub-menu {
      display: none;
      border-top: 1px solid $color-gray-200;
    }

    @media #{$screen-md-up} {
      li:not(:last-child) a {
        padding-left: 1rem;
      }
    }

    ul ul a {
      padding-left: 2rem;
    }

    ul ul ul a {
      padding-left: 3rem;
    }

    ul ul ul ul a {
      padding-left: 4rem;
    }

    ul ul ul ul ul a {
      padding-left: 5rem;
    }

    .is-expanded > .sub-menu {
      display: flex;
    }
  }

  .menu-item-search {
    display: none;

    @media #{$screen-md-up} {
      display: flex;
    }
  }
}

.primary-navigation {
  position: relative;
  background: $color-light;
  font-size: $font-size-small;
  line-height: 1.5;
  z-index: 1;

  @media #{$screen-md-up} {
    background: $color-action;
  }

  &__container {
    margin: 0 auto;
    max-width: $screen-lg-max;

    @media #{$screen-full-width} {
      padding-right: 1.25rem;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;

    &:not(:first-child) {
      border-top: 1px solid $color-gray-200;

      @media #{$screen-md-up} {
        border-top: none;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: .75rem 1rem;
    transition: background-color .25s ease-out;
    color: $color-dark;

    @media #{$screen-md-up} {
      color: #E9EFF8;
      text-align: center;
      padding: 1.28125rem 1rem;

      &:hover {
        background-color: darken($color-action, 4);
        text-decoration: underline;
      }
    }
  }

  .current-page-ancestor > a,
  .current-menu-item > a {
    background: darken($color-action, 8);
    color: $color-light;

    @media #{$screen-md-up} {
      background: darken($color-action, 4);
    }
  }

  .has-children {
    position: relative;
  }

  .sub-menu {
    display: none;
  }

  .is-expanded > .sub-menu {
    display: block;
    border-left: .5rem solid $color-gray-100;

    @media #{$screen-md-up} {
      display: none!important; // Always hide submenu on desktop, e.g when resizing browser.
    }
  }
  button {
    @media #{$screen-md-up} {
      display: none; // Hide show submenu button on desktop.
    }
  }

  button {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    content: "";
    background-color: $color-light;
    background-image: url(../images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 8px 4px;
    text-align: center;
    font-size: 10px;
    z-index: 2;
    cursor: pointer;
    text-indent: -1000em;
    border: none;
    height: 2.8125rem; // Should match the height of the a element
    width: 2.8125rem; // Should match the height of the a element
    top: 0;
    border-left: 1px solid $color-gray-200;
  }

  .is-expanded {
    > button {
      background-image: url(../images/icons/arrow-up.svg);
    }
  }
}


// List item injected by the Municipio
.menu-item-search {
  max-width: 62px;

  @media #{$screen-below-md} {
    display: none;
  }

  a {
    background-color: darken($color-action, 6);
    display: block;
    border: 0;
    padding: 0 1.9375rem;
    background-image: url(../images/icons/search-inverted.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 22px;
    box-sizing: border-box;
    transition: background-color .2s ease-in-out;
  }
}
