.primary-navigation {
  background: $color-action;
  font-size: $font-size-medium;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    @media #{$screen-md-up} {
      flex-direction: row;
    }
  }

  li {
    border-bottom: 1px solid $color-light;

    @media #{$screen-md-up} {
      border-bottom: none;
    }
  }

  a {
    display: block;
    color: $color-light;
    text-decoration: none;
    align-self: center;
    padding: .5rem 1rem;

    @media #{$screen-md-up} {
      padding: 1.5rem 1.25rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.current-page-ancestor,
.current-menu-item {
  background: darken($color-action, 6);
}
