.primary-navigation {
  background: $color-action;
  font-size: $font-size-medium;

  .container {
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-grow: 2;

    @media #{$screen-below-md} {
      flex-direction: column;
    }

    @media #{$screen-md-up} {
      flex-direction: row;
    }
  }

  li {
    flex-grow: 1;
    border-bottom: 1px solid $color-light;

    @media #{$screen-md-up} {
      border-bottom: none;
    }
  }

  a {
    display: block;
    color: $color-light;
    text-decoration: none;
    text-align: center;
    padding: .5rem 1rem;

    @media #{$screen-md-up} {
      padding: 1.5rem .5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .current-page-ancestor,
  .current-menu-item {
    background: darken($color-action, 6);
  }

  // TODO
  &__search-button {
    background: darken($color-action, 8);
    display: block;
    width: 62px;
    height: 62px;
    border: 0;
    flex: 1;
  }
}
