.sidebar-menu {

  &__headline {
    font-size: $font-size-small;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: 700;
  }
}

.nav-aside {
  margin-top: 0;
  margin-bottom: $content-gutter;
  padding: 0;
  font-size: $font-size-small;
  border-top: 3px solid $color-dark;

  li {
    list-style: none;
    border-bottom: 1px solid $color-gray-100;
    background: $color-light;
  }

  .sub-menu {
    border-top: 1px solid $color-gray-100;
    padding: 0;
    background-color: $color-gray-100;
    padding-left: 10px;
    padding-bottom: 10px;

    .sub-menu {
      background-color: $color-gray-300;
    }
  }

  li ul li:last-child {
    border-bottom: none;
  }

  a {
    display: block;
    padding: .75rem .625rem .5rem;
    text-decoration: none;
    color: $color-dark;

    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: $color-gray-100;
    }
  }

  .current-node > a {
    font-weight: 700;
  }

  .current > a {
    background-color: $color-action;
    color: $color-light;
    font-weight: 700;
  }

  .current-menu-ancestor {
    background-color: $color-gray-100;
  }

  .current-menu-ancestor .current-menu-ancestor {
    background-color: $color-gray-300;

    ul {
      border-color: $color-gray-300;
    }
  }

  .sub-menu {
    display: none;
  }
  .is-expanded > .sub-menu {
    display: block;
  }

  // Temporary solution for arrows

  .has-children {
    position: relative;

    a {
      padding-right: 2rem;
    }

    button {
      position: absolute;
      right: 0;
      //background: $color-gray-100;
      //border-radius: 3px;
      //border: 1px solid $color-gray-300;
      box-sizing: border-box;
      content: "";
      background-image: url(../images/icons/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 8px 4px;
      text-align: center;
      font-size: 10px;
      z-index: 10;
      cursor: pointer;
      text-indent: -1000em;
      border: none;
      background-color: transparent;
      height: 2.5rem; // Should match the height of the a tag
      top: 0;
    }
  }

  .is-expanded {
    > button {
      background-image: url(../images/icons/arrow-up.svg);
    }
  }
}
