.sidebar-menu__navigation-button {
  display: none;
}

@media #{$screen-below-lg} {

  .sidebar-menu__navigation-button {
    display: flex;
    margin-top: .75rem;
    padding: .5rem .75rem;
    background: darken($color-action, 6);
    font-size: $font-size-smaller;
    border-radius: 2px;

    svg {
      fill: currentColor;
      margin-right: .75rem;
      position: relative;
      top: 1px;
    }
  }

  #sidebar-menu,
  .sidebar-menu__headline {
    display: none;
  }
  #sidebar-menu.is-expanded {
    display: block;
  }
}

.sidebar-menu {

  &__headline {
    font-size: $font-size-small;
    font-weight: 700;
    border-bottom: 3px solid $color-action;
    padding: .625rem 0;
  }
}

.nav-aside {
  margin-top: 0;
  margin-bottom: $content-gutter;
  padding: 0;
  font-size: $font-size-small;
  border: 1px solid $color-gray-200;
  border-bottom: 0;
  box-shadow: 2px 2px 0 0 $color-gray-100;
  max-width: 37.5rem;
  position: relative;

  @media #{$screen-md-up} {
    border-top: 0;
  }

  &:after {
    bottom: 100%;
    left: 2rem;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: $color-gray-200;
    border-width: 8px;
    margin-left: -8px;
  }

  @media #{$screen-md-up} {
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  li {
    list-style: none;
    border-bottom: 1px solid $color-gray-100;
    background: $color-light;
  }

  .sub-menu {
    border-top: 1px solid $color-gray-100;
    padding: 0;

    .sub-menu {
      background-color: $color-gray-300;
    }
  }

  li ul li:last-child {
    border-bottom: none;
  }

  a {
    display: block;
    padding: .75rem .625rem .5rem;
    text-decoration: none;
    color: $color-dark;
    transition: background-color .2s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: $color-gray-100;
    }
  }

  .current > a {
    background-color: $color-action;
    color: $color-light;
  }

  .current-menu-ancestor {
    background-color: $color-gray-100;
  }

  .current-menu-ancestor .current-menu-ancestor {
    background-color: $color-gray-300;

    ul {
      border-color: $color-gray-300;
    }
  }

  .sub-menu {
    display: none;
  }
  .is-expanded > .sub-menu {
    display: block;
    border-left: .625rem solid $color-gray-100;
  }

  // Temporary solution for arrows

  .has-children {
    position: relative;

    a {
      padding-right: 2.75rem;
    }

    button {
      position: absolute;
      right: 0;
      box-sizing: border-box;
      content: "";
      background-color: $color-light;
      background-image: url(../images/icons/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 8px 4px;
      text-align: center;
      font-size: 10px;
      z-index: 2;
      cursor: pointer;
      text-indent: -1000em;
      border: none;
      height: 2.5rem; // Should match the height of the a element
      width: 2.4375rem; // Should match the height of the a element
      top: 0;
      border-left: 1px solid $color-gray-200;
      border-bottom: 1px solid $color-gray-200;
      transition: background-color .2s ease-in-out;

      &:hover,
      &:focus {
        background-color: $color-gray-100;
      }
    }
  }

  .is-expanded {
    > button {
      background-image: url(../images/icons/arrow-up.svg);
    }
  }
}
