// *****************************************************************************
// Main Style
// *****************************************************************************
@import "settings/settings.colors";
@import "settings/settings.typography";
@import "settings/settings.fonts";
@import "settings/settings.z-level";
@import "settings/settings.grid";

@import "tools/tools.mixins";
@import "tools/tools.mixins.grid";
@import "tools/tools.mixins.box";
@import "tools/tools.mixins.arrow";

@import "generic/generic.normalize";
@import "generic/generic.reset";
@import "generic/generic.box-sizing";

@import "elements/elements.typography";
@import "elements/elements.focus";
@import "elements/elements.links";
@import "elements/elements.images";
@import "elements/elements.forms";
@import "elements/elements.print";

@import "objects/objects.global";
@import "objects/objects.typography";
@import "objects/objects.buttons";
@import "objects/objects.container";
@import "objects/objects.grid";
@import "objects/objects.grid-flexbox";
@import "objects/objects.embed";
@import "objects/objects.icons";
@import "objects/objects.tooltip";
@import "objects/objects.comment-form";

@import "components/share/_share";
@import "components/search/search-form";
@import "components/search/search-result";
@import "components/search/search-popular-list";

@import "components/components.site-header";
@import "components/components.site-footer";
@import "components/components.global";
@import "components/components.breadcrumbs";
@import "components/components.page-footer";
@import "components/components.translate";
@import "components/components.pagination";
@import "components/components.accessibility-menu";
@import "components/components.cookie-consent";
@import "components/components.hero";
@import "components/components.hero-image";

@import "components/components.box";
@import "components/modularity/modularity.iframe";
@import "components/modularity/modularity.files";
@import "components/modularity/modularity.inlaylist";
@import "components/modularity/modularity.index";
@import "components/modularity/modularity.latest";
@import "components/modularity/modularity.script";
@import "components/modularity/modularity.contact";
@import "components/modularity/modularity.inheritpost";
@import "components/modularity/modularity.notice";
@import "components/modularity/modularity.fact";

@import "components/navigation/primary";
@import "components/navigation/help";
@import "components/navigation/sidebar";

@import "trumps/trumps.visually-hidden";
@import "trumps/trumps.clearfix";
@import "trumps/trumps.float";
@import "trumps/trumps.wordpress";
@import "trumps/trumps.print";

@media #{$screen-md-up} {

  .page-child .main-container article,
  .page-child .c-page-footer,
  .page-child .sidebar-content-area {
    max-width: 36.875rem;
  }

  body:not(.error404) {
    background: $color-light;

    background-image: url(../images/pattern.png);
    background-position: 50% calc(100% + 120px);
    background-repeat: repeat-x;
    background-attachment: fixed;

    .main-footer {
      margin-bottom: 86px;
    }
  }
}

.main-container {
  margin-top: $content-gutter * 2;
  margin-bottom: $content-gutter * 2;
}

#main-content {
  background: $color-light;
}


.menu-item-search {
  display: flex;
  max-width: 62px;

  @media #{$screen-below-md} {
    display: none;
  }

  a {
    background-color: darken($color-action, 6);
    display: block;
    border: 0;
    padding: 0 1.9375rem;
    background-image: url(../images/icons/search-inverted.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 22px;
    box-sizing: border-box;
    transition: background-color .2s ease-in-out;
  }
}

.hero {
    margin-top: $content-gutter * 2;
}

.hero + .main-container {
    margin-top: $content-gutter;
}


.no-js {
  .menu-item-translate,
  .menu-item-search,
  .c-share__list--print {
    display: none;
  }
  .header__search {
    display: block;
  }
  &.search {
    .header__search {
      display: none;
    }
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-content {
  flex: 1 0 auto;
  width: 100%;

  &::after {
    content: '\00a0';
    display: block;
    height: 0px;
    visibility: hidden;
  }
}

.article-meta {
  margin-bottom: $content-gutter;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }
}

.post-categories,
.post-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;

  li {
    display: inline;
    font-size: $font-size-smaller;

    &:not(:last-child)::after {
      content: ", ";
    }
  }

  &__wrapper {
  }

  &__title {
    margin: 0;
    display: inline;
    font-size: $font-size-smaller;
    font-weight: 700;
  }
}



.post .box.box-news {
  list-style: none;
  display: block;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;
  margin: 0;
  border-bottom: 1px solid $color-gray-200;
  padding: 1rem 0;
  display: table;
  width: 100%;

  h3 {
    line-height: 1;
    margin-bottom: .25rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
  }

  p {
    font-size: $font-size-small;
    color: $color-dark;
    font-size: $font-size-small;
    margin: 0;
  }

  .box-image-container {

    img {
      margin-bottom: 1rem;
    }

    @media #{$screen-sm-up} {
      display: table-cell;
      vertical-align: top;
      width: 170px;

      img {
        margin: 0;
        display: block;
        padding-right: 1.25rem;
      }
    }
  }


  time {
    font-size: $font-size-smaller;
    color: $color-gray-700;
  }
}

.container-front {
  padding: $content-gutter * 2 0 $content-gutter;
  overflow: hidden;

  &--alt {
    border-bottom: 1px solid #E8E8E8;
    background: #F9F9F9;
  }
}

.container {
  .hero {
    margin-top: 0;
  }
}

.skip {

  &:focus {
    margin: 1rem;
    padding: .5rem;
    background: $color-action;
    color: $color-light;
    text-decoration: none;
    position: absolute;
    z-index: $level-top;
    font-size: $font-size-small;
    box-shadow: 0 0 .5rem 2px rgba($color-dark, .35);
  }
}


// TODO: Temporary fix
.container-front > .container > .grid-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
