// *****************************************************************************
// Main Style
// *****************************************************************************
@import "settings/settings.colors";
@import "settings/settings.typography";
@import "settings/settings.fonts";
@import "settings/settings.z-level";
@import "settings/settings.grid";

@import "tools/tools.mixins";
@import "tools/tools.mixins.grid";
@import "tools/tools.mixins.box";
@import "tools/tools.mixins.arrow";

@import "generic/generic.normalize";
@import "generic/generic.reset";
@import "generic/generic.box-sizing";

@import "elements/elements.typography";
@import "elements/elements.focus";
@import "elements/elements.links";
@import "elements/elements.images";
@import "elements/elements.forms";
@import "elements/elements.print";

@import "objects/objects.global";
@import "objects/objects.typography";
@import "objects/objects.buttons";
@import "objects/objects.container";
@import "objects/objects.grid";
@import "objects/objects.grid-flexbox";
@import "objects/objects.embed";
@import "objects/objects.icons";
@import "objects/objects.notice";
@import "objects/objects.tooltip";

@import "components/share/_share";
@import "components/search/search-form";
@import "components/search/search-result";

@import "components/components.site-header";
@import "components/components.site-footer";
@import "components/components.global";
@import "components/components.breadcrumbs";
@import "components/components.page-footer";
@import "components/components.translate";
@import "components/components.pagination";
@import "components/components.accessibility-menu";
@import "components/components.cookie-consent";
@import "components/components.hero";

@import "components/components.box";
@import "components/modularity/modularity.posts";
@import "components/modularity/modularity.iframe";
@import "components/modularity/modularity.text";
@import "components/modularity/modularity.files";
@import "components/modularity/modularity.noticeboard";
@import "components/modularity/modularity.mainnews";
@import "components/modularity/modularity.inlaylist";
@import "components/modularity/modularity.index";
@import "components/modularity/modularity.latest";
@import "components/modularity/modularity.script";
@import "components/modularity/modularity.contact";
@import "components/modularity/modularity.inheritpost";

@import "components/navigation/primary";
@import "components/navigation/help";
@import "components/navigation/sidebar";

@import "trumps/trumps.visually-hidden";
@import "trumps/trumps.clearfix";
@import "trumps/trumps.float";
@import "trumps/trumps.wordpress";
@import "trumps/trumps.print";

@media #{$screen-md-up} {

  .main-container article {
    max-width: 36.875rem;
  }

  html {
    background-image: url(../images/pattern.png);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
  }

  body {
    margin-bottom: 86px;
    background: $color-light;
  }
}


.menu-item-search {
  display: flex;
  max-width: 62px;

  @media #{$screen-below-md} {
    display: none;
  }

  a {
    background-color: darken($color-action, 6);
    display: block;
    border: 0;
    padding: 0 1.9375rem;
    background-image: url(../images/icons/search-inverted.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 22px;
    box-sizing: border-box;
    transition: background-color .2s ease-in-out;
  }
}


.no-js {
  .menu-item-translate,
  .menu-item-search,
  .c-share__list--print {
    display: none;
  }
  .header__search {
    display: block;
  }
  &.search {
    .header__search {
      display: none;
    }
  }
}
