// *****************************************************************************
// Main Style
// *****************************************************************************
@import "settings/settings.colors";
@import "settings/settings.typography";
@import "settings/settings.fonts";
@import "settings/settings.z-level";
@import "settings/settings.grid";

@import "tools/tools.mixins";
@import "tools/tools.mixins.grid";
@import "tools/tools.mixins.box";
@import "tools/tools.mixins.arrow";

@import "generic/generic.normalize";
@import "generic/generic.reset";
@import "generic/generic.box-sizing";

@import "elements/elements.global";
@import "elements/elements.typography";
@import "elements/elements.focus";
@import "elements/elements.links";
@import "elements/elements.images";
@import "elements/elements.forms";
@import "elements/elements.iframe";
@import "elements/elements.print";

@import "objects/objects.global";
@import "objects/objects.typography";
@import "objects/objects.buttons";
@import "objects/objects.container";
@import "objects/objects.grid";
@import "objects/objects.grid-flexbox";
@import "objects/objects.embed";
@import "objects/objects.skip";
@import "objects/objects.icons";
@import "objects/objects.tooltip";
@import "objects/objects.comment-form";

@import "components/share/_share";
@import "components/search/search-form";
@import "components/search/search-result";
@import "components/search/search-popular-list";

@import "components/components.site-header";
@import "components/components.site-footer";
@import "components/components.global";
@import "components/components.breadcrumbs";
@import "components/components.page-footer";
@import "components/components.translate";
@import "components/components.pagination";
@import "components/components.accessibility-menu";
@import "components/components.cookie-consent";
@import "components/components.hero";
@import "components/components.hero-image";

@import "components/components.box";
@import "components/modularity/modularity.iframe";
@import "components/modularity/modularity.files";
@import "components/modularity/modularity.inlaylist";
@import "components/modularity/modularity.index";
@import "components/modularity/modularity.script";
@import "components/modularity/modularity.contact";
@import "components/modularity/modularity.inheritpost";
@import "components/modularity/modularity.notice";
@import "components/modularity/modularity.fact";
@import "components/components.accordion";

@import "components/components.box-widget"; // Fix for WordPress Widget Output

@import "components/navigation/primary";
@import "components/navigation/help";
@import "components/navigation/sidebar";

@import "theme/theme.master";
@import "theme/theme.page";
@import "theme/theme.frontpage";
@import "theme/theme.article";

@import "trumps/trumps.links";
@import "trumps/trumps.visually-hidden";
@import "trumps/trumps.clearfix";
@import "trumps/trumps.float";
@import "trumps/trumps.truncate";
@import "trumps/trumps.wordpress";
@import "trumps/trumps.print";
@import "trumps/trumps.no-js";

.site-header-container,
.header__search {
  display: none;
}

@media #{$screen-below-md} {
  .site-header-container.is-expanded {
    display: block;
  }
}

.site-header__logotype {
  display: none;
}

@media #{$screen-md-up} {
  .mobile-header {
    display: none;
  }

  .site-header-container,
  .header__search,
  .site-header__logotype {
    display: block;
  }
}

.mobile-header {
  margin: 1rem;

  &__logotype {

    .logotype {
      display: block;
      width: 138px;
      //margin: 0 auto;
    }
  }
}
