.nav-aside {
    background-color: $black;
    border: none;
    border-radius: 2px;
    overflow: hidden;

    li + li {
        border-color: lighten($black, 10%);
    }

    > li > a {
        padding: 13px 15px 15px;
        font-family: $dunkers-font-family;
        font-size: 1em;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        font-weight: bold;
        letter-spacing: .5px;

        &:hover {
            background-color: lighten($black, 3%);
        }
    }

    .current,
    .current-node {
        background-color: transparent;

        &.has-children > a::after {
            @include hbg-icon('\f107');
            font-size: 1.4em;
            color: $green;
            top: 10px;
        }

        a:before {
            display: none;
        }
    }

    .has-children > a::after,
    .page_item_has_children > a::after {
        top: 12px;
        right: 15px;
    }

    .children,
    .sub-menu {
        display: none;
        background-color: lighten($black, 10%);
        border: none;

        .current > a {
            color: $green !important;
        }

        li + li {
            border-top: 1px solid $black;
        }

        li:last-child a {
            padding: 5px 15px 7px;
        }

        a {
            color: #fff;
            padding: 7px 15px;

            &:hover {
                background-color: lighten($black, 13%);
            }
        }

        ul {
            a {
                padding-left: 25px !important;
            }
        }
    }

    .current > .sub-menu,
    .current-node > .sub-menu {
        display: block;
    }
}
