.box-panel .widgettitle .rsswidget:first-child {
    display: none;
}

.box-panel ul:not(.social-feed-gallery) li:first-child,
.sidebar-content-area-bottom [class^="widget_"]:not(.widget_calendar) ul:not(.social-feed-gallery) li:first-child,
.sidebar-content-area [class^="widget_"]:not(.widget_calendar) ul:not(.social-feed-gallery) li:first-child {
    padding-top: 0;
}

.sidebar-left-sidebar .widget_rss .rssSummary,
.sidebar-right-sidebar .widget_rss .rssSummary {
    border-left: 3px solid $gray;
}


.sidebar-left-sidebar .widget_archive a, .sidebar-left-sidebar .widget_categories a, .sidebar-left-sidebar .widget_meta a, .sidebar-left-sidebar .widget_recent_comments a, .sidebar-left-sidebar .widget_recent_entries a, .sidebar-right-sidebar .widget_archive a, .sidebar-right-sidebar .widget_categories a, .sidebar-right-sidebar .widget_meta a, .sidebar-right-sidebar .widget_recent_comments a, .sidebar-right-sidebar .widget_recent_entries a {
    color: #777;
    padding-left: 15px;
}

.link-item-light::before, .sidebar-left-sidebar .widget_archive a::before, .sidebar-left-sidebar .widget_categories a::before, .sidebar-left-sidebar .widget_meta a::before, .sidebar-left-sidebar .widget_recent_comments a::before, .sidebar-left-sidebar .widget_recent_entries a::before, .sidebar-right-sidebar .widget_archive a::before, .sidebar-right-sidebar .widget_categories a::before, .sidebar-right-sidebar .widget_meta a::before, .sidebar-right-sidebar .widget_recent_comments a::before, .sidebar-right-sidebar .widget_recent_entries a::before {
    color: rgba(0,0,0,.5);
}

.sidebar-right-sidebar .widget ul {
    margin-bottom: 10px;
}
