// ***************************************************************
// Base font
// ***************************************************************

$base-font-family: "Clear Sans", Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-line-height: 1.4;
$base-font-color: $color-dark;

// ***************************************************************
// Content
// ***************************************************************

$content-gutter: 1.25rem;

$mark-padding: 0 .15em;
