// ***************************************************************
// Base font
// ***************************************************************

$base-font-family: "Clear Sans", Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-line-height: 1.4;
$base-font-color: $color-dark;

$font-size-large: 1.125rem; // 18px;
$font-size-medium: .875rem; // 14px
$font-size-small: .8125rem; // 13px
$font-size-smallest: .75rem; // 12px

// ***************************************************************
// Content
// ***************************************************************

$content-gutter: 1.25rem;
