// ***************************************************************
// Base font
// ***************************************************************

$base-font-family: "Clear Sans", Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-line-height: 1.4;
$base-font-color: $color-dark;

$font-size-small: .8125rem;
$font-size-smallest: .75rem;

// ***************************************************************
// Content
// ***************************************************************

$content-gutter: 1.25rem;
